.CommentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CommentForm-title {
  font-size: 12px;
  font-weight: 700;
}

.CommentForm-textarea {
  font-size: 14px;
  font-weight: 400;
  resize: none;
  height: 80px;
}

.CommentForm-feedback {
  color: #f00;
}

.CommentForm-actions {
  display: flex;
  gap: 10px;
}

.CommentForm-authText {
  font-size: 16px;
  font-weight: 400;
}

.CommentForm-linkToLogin {
  color: #0087E9;
  text-decoration: underline;
}

.CommentForm-btnCancel {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: #666;
  text-decoration: underline;
  font-size: inherit;
  cursor: pointer;
}
