.SideLayout {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
  align-items: center;
}

.SideLayout_side_start {
  justify-content: flex-start;
}

.SideLayout_side_end {
  justify-content: flex-end;
}

.SideLayout_side_between {
  justify-content: space-between;
}

.SideLayout_padding_small {
  padding: 10px;
}

.SideLayout_padding_medium {
  padding: 20px;
}

.SideLayout_paddingX_small {
  padding-left: 10px;
  padding-right: 10px;
}

.SideLayout_paddingX_medium {
  padding-left: 20px;
  padding-right: 20px;
}

.SideLayout_paddingY_small {
  padding-top: 10px;
  padding-bottom: 10px;
}

.SideLayout_paddingY_medium {
  padding-top: 20px;
  padding-bottom: 20px;
}

.SideLayout_gap_small {
  gap: 10px;
}

.SideLayout_gap_medium {
  gap: 20px;
}

.SideLayout-item {
  margin: 0 5px;
}
