.Navigation {
}

.Navigation-list {
  margin: 0;
  padding: 0;
}

.Navigation-item {
  list-style: none;
}

.Navigation-link {
  color: #0087e9;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
}
